*{
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #222222; */
    background-color: white;
    height: 100vh;
}

.settings{
    width: 300px;
    margin: 5px auto;
}

.settings input {
    width: 50px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-game {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #7C7C7C;
}

.table-game tr {
    margin: 0;
    padding: 0;
}

.table-game tr td {
    border: 1px solid #7C7C7C;
    margin: 0;
    padding: 0;
}

.active {
    /* background-color: #F91D1D; */
    background-color: black;
}

